src/main/webapp/WEB-INF/config/Comum/action-plug-in/action-plug-in-config_1_0.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Gerrie Kimpen (Home) -->
<!--DTD generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<!ELEMENT action-plug-in-config (action-plug-in+)>
<!ELEMENT action-plug-in (class, init-params?, (disabled-for+ | enabled-for+))>
<!ELEMENT class (#PCDATA)>
<!ELEMENT init-params (param+)>
<!ELEMENT disabled-for (action-path+)>
<!ELEMENT enabled-for (action-path+)>
<!ELEMENT param (name, value, description?)>
<!ELEMENT action-path (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT description (#PCDATA)>
